.footer {
  background: #1a1a1a;
  color: white;
  padding: 134px 0 100px;
  a{
    color: #ffffff90;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-bottom: 2rem;
  }
  &__brand {
    display: flex;
    flex-direction: column;
    gap: 17px;
    .footer__logo {
      height: 60px;
      width: 60px;
      border-radius: 50%;
    }
    p {
      color: #999;
      margin-bottom: 0.5rem;
      font-size: 0.9rem;
    }
  }
  
  .footer__links {
    flex: 2;
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    .link__column {
      h4 {
        color: white;
        margin-bottom: 1.5rem;
        font-size: 1.1rem;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 0.8rem;

          a {
            color: #999;
            text-decoration: none;
            transition: color 0.3s ease;
            font-size: 0.9rem;

            &:hover {
              color: #e67e22;
            }
          }
        }
      }
    }
  }

  .social__links {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    a {
      color: #999;
      transition: color 0.3s ease;

      &:hover {
        color: #e67e22;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 3rem 2rem;

    .footer__content {
      flex-direction: column;
      gap: 2rem;

      .footer__links {
        flex-direction: column;
        gap: 2rem;
      }
    }

    .social__links {
      justify-content: center;
    }
  }
}

